# ---------------------------------------------------------------------------------
# J.A.R.V.I.S. | JavaScript Architecture Runtime for Versatile Intelligent Services
# Development Environment | Copyright by CLAIN México, S.A. de C.V.
# ---------------------------------------------------------------------------------

NODE_ENV=development
APP_NAME=J.A.R.V.I.S.
APP_ENV=local
APP_PORT=3000
APP_HOST=0.0.0.0
APP_URL=http://localhost:3000

# ---------------------------------------------------------------------------------
# Docker / Node
# ---------------------------------------------------------------------------------

JARVIS_NODE_VERSION=22
JARVIS_PNPM_VERSION=11.8.0

# ---------------------------------------------------------------------------------
# PostgreSQL
# ---------------------------------------------------------------------------------

POSTGRES_HOST=jarvis-postgres
POSTGRES_PORT=5432
POSTGRES_DB=jarvis_dev
POSTGRES_USER=jarvis
POSTGRES_PASSWORD=jarvis_dev_password_pgsql

# ---------------------------------------------------------------------------------
# SQL Server
# ---------------------------------------------------------------------------------

MSSQL_HOST=jarvis-mssql
MSSQL_PORT=1433
MSSQL_DATABASE=jarvis_dev
MSSQL_USER=sa
MSSQL_PASSWORD=jarvis_dev_password_mssql
MSSQL_ACCEPT_EULA=Y
MSSQL_PID=Developer

# ---------------------------------------------------------------------------------
# MySQL
# ---------------------------------------------------------------------------------

MYSQL_HOST=jarvis-mysql
MYSQL_PORT=3306
MYSQL_DATABASE=jarvis_dev
MYSQL_USER=jarvis
MYSQL_PASSWORD=jarvis_dev_password_mysql
MYSQL_ROOT_PASSWORD=jarvis_root_password

# ---------------------------------------------------------------------------------
# MongoDB
# ---------------------------------------------------------------------------------

MONGO_HOST=jarvis-mongo
MONGO_PORT=27017
MONGO_DATABASE=jarvis_dev
MONGO_INITDB_ROOT_USERNAME=jarvis
MONGO_INITDB_ROOT_PASSWORD=jarvis_dev_password_mongodb

# ---------------------------------------------------------------------------------
# Redis
# ---------------------------------------------------------------------------------

REDIS_HOST=jarvis-redis
REDIS_PORT=6379

# ---------------------------------------------------------------------------------
# Mailpit
# ---------------------------------------------------------------------------------

MAIL_HOST=jarvis-mailpit
MAIL_PORT=1025
MAIL_WEB_PORT=8025

# ---------------------------------------------------------------------------------
# MinIO
# ---------------------------------------------------------------------------------

MINIO_HOST=jarvis-minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=jarvis
MINIO_ROOT_PASSWORD=jarvis_dev_password_minio
